<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Theming in Drupal 8</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Pako Garcia">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/summer.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal summer">
			<span class="hashtag">#drupalsummer</span>
			<span class="twitter_account">@pakmanlh</span>

			<div class="slides">
				<section class="portada" data-state="portada" data-background="img/welcome.jpg">
					<h1>Theming in Drupal 8</h1>
				</section>
				<section data-background="img/hawai/hawaiana-logo-hashtag.jpg">
				</section>
				<section data-background="img/hawai/hawaiana-texto.jpg">
				</section>

				<section>
					<h2>¿Quien soy?</h2>
					<ul>
						<li>Pako Garcia</li>
						<li>Drupal Front-end developer</li>
						<li>Miembro de <img src="img/logo-bglight.png" class="logo-about-me">
						</li>
						<li>Vegan</li>
						<li><span class="japanese">日本語の学生</span></li>
					</ul>
				</section>

				<!-- Legacy slides -->

				<section>
					<h2>Conceptos a olvidar</h2>
					<ul>
						<li><span class="fragment strike">Funciones <code>theme()</code></span> <span class="fragment fade-up">Plantillas twig</span></li>
						<li><span class="fragment strike"><code>template_process_hook()</code></span> <span class="fragment fade-up">desaparece!</span></li>
						<li class="fragment fade-up">Ahora serán todo <em>render arrays (yuju!)</em></li>
					</ul>
				</section>
				<section>
					<h2>¿Render qué?</h2>
				<blockquote cite="https://www.drupal.org/developing/api/8/render/arrays">Render arrays are nested and thus form a tree. Consider them Drupal's «render tree» — Drupal's equivalent of the DOM.</blockquote>
				<a href="https://www.drupal.org/developing/api/8/render/arrays">+info</a>
				</section>
				<section>
					<h2>¿Render qué?</h2>
				<pre><code class="language-php">$element = [
  '#type' => 'my_element',
  '#config_one' => 'blue',
];

$element['#attributes'] = [
  'id' => 'my_blue_element_1',
  'class' => ['my-element','blue'],
];</code></pre>
				</section>
				<section>
					<section>
						<h2><code>summer_theme</code></h2>
						<p>Crearemos una carpeta <code>summer_theme</code><br> en la carpeta<code>/themes</code></p>
						<p class="fragment"><strong>NUNCA</strong> en la carpeta <code>/core/themes</code></p>
						<p class="fragment"><em>Briconsejo:</em> crear subcarpetas:<br> <code>/themes/contrib</code> <br> <code>/themes/custom</code></p>
					</section>
					<section>
						<h2><code class="lowercase"><em>summer_theme</em>.info.yml</code></h2>
						<pre><code class="language-yaml">name: My theme
type: theme
base theme: classy
description: 'My custom theme for the DrupalSummer'
core: 8.x
regions:
  header: Header
  content: Content  # the content region is required
  sidebar_first: 'Sidebar first'
  footer: Footer</code></pre>
					</section>
					<section>
						<h2>Temas en core:</h2>
						<ul>
							<li>Bartik</li>
							<li>Seven</li>
							<li>Stark</li>
						</ul>
					</section>
					<section>
						<h2>Temas base</h2>
						<p>Para crear un nuevo tema podemos escoger entre dos <u>temas base</u> (ocultos) incluidos en core.</p>
					</section>
					<section>
						<h2>Stable</h2>
						<dl>
    						<dd>Marcado mínimo y muy pocas classes. Contiene todas las plantillas y estilos CSS de core.</dd>
						</dl>
						<pre><code class="language-html"><div>
  <div>Favorite horses</div>
  <div>
    <div>Black Stallion</div>
    <div>Shadowfax</div>
    <div>Hidalgo</div>
  </div>
</div>
</code></pre>
					</section>
					<section>
						<h2>Classy</h2>
						<dl>
							<dd>Proporciona muchas classes predeterminadas a partir de diferentes características que se pueden usar para dar estilo.</dd>
						</dl>
						<pre><code class="language-html"><div class="field field--name-field-favorite-horses field--type-string field--label-above">
  <div class="field__label">Favorite horses</div>
  <div class='field__items'>
    <div class="field__item">Black Stallion</div>
    <div class="field__item">Shadowfax</div>
    <div class="field__item">Hidalgo</div>
  </div>
</div></code></pre>
					</section>
				</section>
				<section>
					<section>
					<img src="img/twig-logo.png" style="box-shadow: none; margin-top: -3em">
						<h2>Trabajar con <span class="lowercase">Twig</span></h2>
					</section>
					<section>
						<h2>Variables</h2>
						<p>Imprimir variable</p>
						<pre><code class="language-twig">&lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;</code></pre>
					</section>
					<section>
						<h2>Acceso a variables</h2>
						<pre><code class="language-twig">{{ foo.bar }}</code></pre>
						<p>Ejecuta la siguiente cadena para obtener el valor</p>
						<pre><code class="language-php">// Elemento de una array.
$foo['bar'];
// Propiedad de un objeto.
$foo->bar;
// Método de un objeto.
$foo->bar();
// Get de un objeto.
$foo->getBar();
// Existencia del valor.
$foo->isBar();</code></pre>
					</section>
					<section>
						<h2>Variables</h2>
						<p>Assignar valors a variable</pe>
						<pre><code class="language-twig">{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}</code></pre>
					</section>
					<section>
						<h2>Condicionales</h2>
						<pre><code class="language-twig">{% if not page %}
  &lt;h2{{ title_attributes }}&gt;
    &lt;a href="{{ url }}" rel="bookmark"&gt;{{ label }}&lt;/a&gt;
  &lt;/h2&gt;
{% endif %}</code></pre>
					</section>
					<section>
						<h2>+Condicionales</h2>
<pre><code class="language-twig">{% if (summary is not empty) or (description is not empty) %}
  &lt;details&gt;
    {% if summary is not empty %}
      &lt;summary&gt;{{ summary }}&lt;/summary&gt;
    {% endif %}
    {% if description is not empty %}
      {{ description }}
    {% endif %}
  &lt;/details&gt;
{% endif %}</code></pre>
					</section>
					<section>
						<h3>Estructuras de control</h3>
						<p>Estructura for simple</p>
						<pre><code class="language-twig">{% for content in column.content %}
  {{- content.separator }}{{ content.field_output -}}
{% endfor %}</code></pre>
					</section>
					<section>
						<h3>+Estructuras de control</h3>
						<p>Iterando por clave y valor</p>
						<pre><code class="language-twig">{% for key, column in row.columns %}
  &lt;a href="#{{ key }}&gt;{{ column }}&lt;/a&gt;
{% endfor %}</code></pre>
					</section>
					<section>
						<h2>Atributos</h2>
						<p>Imprimir atributos de una etiqueta</p>
						<pre><code class="language-twig">&lt;div{{ attributes }}&gt;</code></pre>
						<div class="fragment fade-up">
						<p>O bien imprimir solamente aquellos atributos que nos interesen</p>
						<pre><code class="language-twig">&lt;div class="myclass {{ attributes.class }}"{{ attributes|without('class') }}&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>+Atributos</h2>
						<p>Manipular los valores; añadiendo o quitando elementos.</p>
						<pre><code class="language-twig">&lt;div{{ attributes.addClass('hello').removeClass('bye') }}&gt;</code></pre>
						<div class="fragment fade-up">
						<p>Realizando comprobaciones.</p>
						<pre><code class="language-twig">{% if attributes.hasClass('field-label-inline') %}
  {# My inline custom code #}
{% endif %}</code></pre>
</div>

					</section>
					<section>
						<h2>++Atributos</h2>
						<p>Establecer valores</p>
						<pre><code class="language-twig">&lt;div{{ attributes.setAttribute('id', 'menu-link') }}&gt;</code></pre>
						<div class="fragment fade-up">
						<p>Borrar valores</p>
						<pre><code class="language-twig">&lt;div{{ attributes.removeAttribute('id') }}&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>Filtros</h2>
						<p>Se pueden usar para manipular las variables...</h2>
						<pre><code class="language-twig">{{ ponies|safe_join(", ")|lower}}</code></pre>
						<div class="fragment fade-up">
						<p>...o para traducir cadenas</p>
						<pre><code class="language-twig">&lt;span class="marker"&gt;{{ 'New'|t }}&lt;/span&gt;</code></pre>
						</div>
					</section>
					<section>
						<h2>Traducir cadenas con variables</h2>
						<p>Aunque para traducir cadenas que incluyan variables se puede usar</p>
						<pre><code class="language-twig">{% trans %}
  Submitted by {{ author_name }} on {{ date }}
{% endtrans %}</code></pre>
					</section>
					<section>
						<h2>+Filtros</h2>
						<code class="language-twig">clean_class</code>, <code class="language-twig">format_date</code>, <code class="language-twig">without</code>, <code class="language-twig">drupal_escape</code>,...
						<p><a href="https://www.drupal.org/node/2357633">+info</a></p>
					</section>
					<section>
						<h2>Herencia de plantillas</h2>
						<p>Se pueden definir zonas en las plantilles que puedan ser modificadas (extendidas) en otras plantillas.</p>
					</section>
					<section>
						<h2>Herencia de plantillas</h2>
						<p>Archivo: <code>block.html.twig</code></p>
						<pre><code class="language-twig">&lt;div{{ attributes.addClass(classes) }}&gt;
  {{ title_prefix }}
  {% if label %}
    &lt;h2{{ title_attributes }}&gt;{{ label }}&lt;/h2&gt;
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
&lt;/div&gt;</code></pre>
					</section>
					<section>
						<h3>+Herencia de plantilles</h3>
						<p>Archivo: <code>block--local-actions-block.html.twig</code></p>
						<pre><code class="language-twig">{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    &lt;nav class="action-links"&gt;{{ content }}&lt;/nav&gt;
  {% endif %}
{% endblock %}</code></pre>
					</section>
					<section>
						<h2>Debugging</h2>
						<p>Archivo: <code>services.yml:</code></p>
				        <pre><code class="language-yaml">parameters:
  twig.config:
    debug: true</code></pre>
					</section>
					<section>
						<h2>Debugging</h2>
			            <p>Obtenemos información adicional</p>
			            <pre><code class="language-html">&lt;!-- THEME DEBUG --&gt;
&lt;!-- THEME HOOK: 'block' --&gt;
&lt;!-- FILE NAME SUGGESTIONS:
   * block--bartik-powered.html.twig
   * block--system-powered-by-block.html.twig
   * block--system.html.twig
   x block.html.twig
--&gt;
&lt;!-- BEGIN OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
&lt;div class=&quot;block block-system contextual-region&quot; id=&quot;block-bartik-powered&quot; role=&quot;complementary&quot;&gt;
  &lt;div data-contextual-id=&quot;block:block=bartik_powered:&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;content&quot;&gt;
    &lt;span&gt;Powered by &lt;a href=&quot;http://drupal.org&quot;&gt;Drupal&lt;/a&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- END OUTPUT from 'core/modules/block/templates/block.html.twig' --&gt;
</code></pre>
					</section>
				</section>
				<section>
						<h2>Debugging: Chrome extension</h2>
			            <p><a href="https://github.com/arshad/drupal-template-helper">Drupal Template Helper</a></p>
			            <img src="img/chrome-template-helper.png">
					</section>
				</section>
				<section>
					<section>
						<h2>Añadir CSS y JS a nuestro tema</h2>
						<p>Ahora todos los ficheros a cargar se definen en <code><em>summer_theme</em>.libraries.yml</code></p>
						<pre><code class="language-yaml">my-library:
  version: 1.x
  css:
    theme:
      css/my-library.css: {}
  js:
    js/my-library.js: {}</code></pre>
					</section>
					<section>
						<h2>Añadir CSS global</h2>
						<pre><code class="language-yaml">global-styling:
  version: 1.x
  css:
    component:
      css/components/action-links.css: { weight: -10 }
      css/components/breadcrumb.css: { weight: -10 }
      css/components/button.css: { weight: -10 }
    layout:
      css/layout.css: {}
    theme:
      css/style.css: {}
      css/colors.css: {}
      css/print.css: { media: print }</code></pre>
					</section>
					<section>
						<h2>Gestión de dependencias</h2>
						<p>Drupal 8 no carga jQuery, por ejemplo, si no lo especificamos.</p>
						<pre><code class="language-yaml">my-library:
  version: 1.x
  css:
    theme:
      css/my-library.css: {}
  js:
    js/my-library.js: {}
  dependencies:
    - core/jquery</code></pre>
					</section>
					<section>
						<h2>Añadir una librería</h2>
						<p>De forma global</h2>
						<pre><code class="language-yaml">name: My theme
type: theme
base theme: classy
description: 'My custom theme for Drupal.cat'
core: 8.x
libraries:
  - my_theme/my-library</code></pre>
					</section>
					<section>
						<h2>+Añadir una librería</h2>
						<p>En un template de Twig</h2>
						<pre><code class="language-twig">{{ attach_library('my_theme/my-library') }}
&lt;div&gt;Some markup {{ message }}&lt;/div&gt;</code></pre>
					</section>
					<section>
						<h2>++Añadir una librería</h2>
						<p>En una página concreta, tenemos que crear el archivo <code>summer_theme.theme</code></p>
						<pre><code class="language-php">function summer_theme_preprocess_page(&$variables) {
  $variables['#cache']['contexts'][] = 'route';
  if (\Drupal::routeMatch()->getRouteName() === 'entity.node.preview') {
    $variables['#attached']['library'][] = 'summer_theme/my-library';
  }
}</code></pre>
					</section>
				</section>
				<section>
					<h3><code><em>my_theme</em>.breakpoints.yml</code></h3>
					<pre><code class="language-yaml">my_theme.mobile:
  label: mobile
  mediaQuery: ''
  weight: 0
  multipliers:
    - 1x
my_theme.narrow:
  label: narrow
  mediaQuery: 'all and (min-width: 560px) and (max-width: 850px)'
  weight: 1
  multipliers:
    - 1x
my_theme.wide:
  label: wide
  mediaQuery: 'all and (min-width: 851px)'
  weight: 2
  multipliers:
    - 1x</code></pre>
				</section>

				<!-- End of legacy slides -->

      	<section>
      		<h2>That's all folks</h2>
      		<h3>¿Preguntas?</h3>
      		<p><i class="fa fa-envelope-o"></i>
pako@ymbra.com<br>
<i class="fa fa-twitter-square"></i>
@pakmanlh</p>
      	</section>


			</div>

		</div>

		<script src="lib/js/jquery-1.12.3.min.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: false,
				history: true,
				center: true,

				transition: 'fade', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
